{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":54,"column":0},"end":{"row":55,"column":0},"action":"remove","lines":["pygobject==3.26.1",""],"id":2}],[{"start":{"row":11,"column":0},"end":{"row":12,"column":0},"action":"remove","lines":["cloud-init==19.1",""],"id":3}],[{"start":{"row":12,"column":0},"end":{"row":13,"column":0},"action":"remove","lines":["command-not-found==0.3",""],"id":4}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":12,"column":0},"end":{"row":12,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":56,"state":"start","mode":"ace/mode/text"}},"timestamp":1563869403902,"hash":"3b6fa800ff31077ec9015305b51e1978086808b6"}